<h2 class="title-page">Products</h2>
<form method="POST" action="add-product">
  <h3>Add product</h3>
  <label>Name:</label>
  <input type="text" name="productName" placeholder="Type the name.." />
  <button type="submit">Add</button>
</form>
<div style="margin: 1rem; padding: 0"></div>
<% if( model.length===0){ %>
<div>No products stored..</div>
<% }else{ %>
<ul>
  <% for(let product of model) {%>
  <li class="row"><%- include (`tools/product-preview`,{model:product}) %></li>
  <% } %>
</ul>
<% } %>
