<div class="clearfix">
  <div style="float: left">
    <span style="margin-right: 1rem; vertical-align: middle"
      ><%= model.id %>#
    </span>
    <span style="vertical-align: middle"><%=model.name%></span>
  </div>
  <form action="delete-product" method="post">
    <input type="number" hidden name="productId" value="<%= model.id %>" />
    <a
      href="/products/<%= model.id %>"
      style="display: inline; float: right"
      class="btn"
      >Details
    </a>
    <button class="btn" style="display: inline; float: right" type="submit">
      Delete
    </button>
  </form>
</div>
